body {
  padding-top: 80px;
}

.row {
  margin-bottom: 30px;
}

.navbar .brand {
  padding: 10px 20px 10px 40px;
}

.mh {
  background: url('../img/mh.png') no-repeat 10px;
}

/**
 * FORM
 */
.form-horizontal input,
.form-inline input {
  height: auto;
}
.well form {
  margin-bottom: 0;
}

.control-label {
  font-weight: bold;
}

/**
 * TABLE
 */
th.align-center,
td.align-center {
  text-align: center;
}

th {
  background-color: #eee;
  border-bottom: 1px solid #bbb;
}
td .progress {
  height: 28px;
  line-height: 28px;
  margin-bottom: 0;
}

/**
* SESSIONS
*/
.sessions-tabs a {
  font-size: 18px;
  font-weight: bold;
}
.sessions-tabs>li>a {
  line-height: 24px;
}
.session {
  padding: 0 10px;
  background-color: #fcfcfc;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
}
.session .progress {
  margin-bottom: 0;
}
.session-link {
  cursor: pointer;
  display: block;
  color: #999;
}
.current .session-link {
  color: black;
}
.session-link:hover {
  color: #333;
  border-color: #999;
  text-decoration: none;
}
.session.current {
  border-color: #999;
  background: #fff url('../img/desc.gif') no-repeat top center;
  -webkit-box-shadow:  1px 1px 5px 0 #ccc;
  box-shadow:  1px 1px 5px 0 #ccc;
}
.sessions-ordered {
  list-style: decimal;
  list-style-position: inside;
}
.sessions-ordered>li:hover {
  color: white;
}