<!DOCTYPE html>
<html ng-app>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>CaenJS : démo AngularJS</title>
		<link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css" media="screen"> 
		<link rel="stylesheet" type="text/css" href="./css/styles.css" media="screen"> 
	</head>

	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a href="http://www.mh-communication.fr/" class="brand mh">Démo AngularJS</a>
				</div>
			</div>
		</div>

		<div class="container">
			<div ng-controller="AllocateController">
				<div class="row">
					<div class="span3" ng-repeat="workshop in workshops">
						<div class="session" ng-class="{current: workshop.current}">
							<h4><a class="session-link" ng-click="makeCurrent(workshop)">{{workshop.name}}</a></h4>
							<p>
								Inscrits : <strong>{{attendees(workshop)}}</strong>
								<br>
								Places : 
								<input ng-model="workshop.seats" class="input-mini" ng-show="workshop.current">
								<strong ng-hide="workshop.current">{{workshop.seats}}</strong>
								<div class="progress">
									<div class="bar" style="width: 60%;">
										60%
									</div>
								</div>
							</p>
						</div>
					</div>

				</div>

				<h3>{{currentWorkshop.name}}</h3>
				<table class="table table-striped table-bordered table-hover">
					<thead>
						<th>ID</th>
						<th>Nom</th>
						<th>Actions</th>
					</thead>
					<tbody>
						<tr ng-repeat="person in currentWorkshop.people">
							<td>{{person.id}}</td>
							<td>{{person.name}}</td>
							<td>
								<div class="btn-group">
									<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
										Déplacer
										<span class="caret"></span>
									</a>
									<ol class="dropdown-menu sessions-ordered">
										<li ng-repeat="workshop in workshops | filter:notCurrent">
											<a href="#">{{workshop.name}}</a>
										</li>
									</ol>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>

		<script type="text/javascript" src="./js/jquery.min.js"></script>
		<script type="text/javascript" src="./js/bootstrap.min.js"></script>
		<script type="text/javascript" src="./js/angular.min.js"></script>
		<script type="text/javascript" src="./js/allocate_controller.js"></script>
	</body>
</html>